.body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: white;
}

.divide {
    width: 50%;
    display: flex;
    justify-content: center;
}

.userdata-container {
    margin: auto auto;
    border: 10px solid coral;
    border-radius: 32px;
    width: 600px;
    height: 800px;
    margin-top: 16px;
    font-size: 32px;
}

.userdata-container>h1 {
    text-align: center;
}

.userdata-container>* {
    margin-left: 32px;
}

.content-container {
    display: flex;
    margin-left: 48px;
}

.content-container>div>div {
    margin-top: 16px;
    margin-right: 32px;
    margin-bottom: 64px;
}

.content-container input {
    display: block;
    height: 32px;
    margin-bottom: 64px;
}

.modify-form {
    margin-top: 16px;
}

.container {
    margin-top: 5%;
    width: 90%;
    height: fit-content;
    border: 10px solid coral;
    border-radius: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    margin-top: 16px;
    font-size: 48px;
    font-weight: bold;
}

#user>.title {
    margin-bottom: 16px;
}

.navigator {
    display: flex;
    margin-top: 8px;
    margin-right: 32px;
    justify-content: space-around;
    font-weight: bold;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-form>* {
    text-align: center;
    margin-top: 32px;
    height: 56px;
    background-color: white;
    border: 2px solid coral;
    border-radius: 16px;
    font-size: 24px;
    font-weight: bold;
}

.register-form>input {
    width: 100%;
}

.register-form>button {
    width: 50%;
    margin-bottom: 16px;
}

.user {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid coral;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

.user>* {
    margin: 16px;
}

.user-value {
    display: flex;
    flex-direction: row;
}

.user-value>button {
    width: 48px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 16px;
    background-color: white;
    border: 2px solid coral;
    border-radius: 8px;
}

a {
    text-decoration-line: none;
    color: black;
}